// Define variables for your color scheme

// MAIN
$blue: #409DE5;
$white: #FFFFFF;
$gray: #3C3542;
$black: #231B28;
$gradient: linear-gradient(to right, rgb(146, 23, 77) 9.38%, rgb(228, 29, 92) 88.54%) text !important;

// UTILITY
$red: #F74F4F;
$yellow: #F7DC4F;
$green: #99E250;
$orange: #E67E22;
$light-gray: #FAFAFA;
