.bookings {
  h2.course-status {
    display: flex;
    align-items: center;
  }

  .indicator {
    font-size: 0.9rem;
    margin-right: 1rem;
  }
}

.card-course-infos.booking-card {
  flex-direction: column;

  & > div {
    width: 100%;
  }

  .booking-info {
    & > p {
      padding: 3px 0;
      font-size: 1rem;
    }
  }

  .card-course-title > h2 {
    max-width: 100%;
  }
}

.button_to {
  flex-grow: 1;
}
