<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Notifications</h2>
      <div class="mw-md mt-4" id="notifications">
        <%= render @notifications %>
      </div>
    </div>
  </div>
</div>
